<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Generator" content="Microsoft Word 15 (filtered)">
    <link rel="stylesheet" href="/style.css">
</head>

<body lang="ZH-CN" link="blue" vlink="#954F72" style="word-wrap:break-word;text-justify-trim:punctuation">
    <div class="WordSection1" style="layout-grid:15.6pt">
        <p class="MsoNormal"><span style="font-family:华文宋体">请放映部主讲人</span><b><u><span
                        style="font-size:12.0pt;font-family:华文宋体;color:#C00000">在电影周的两周前，即前前一周的周四前</span></u></b></p>
        <p class="MsoNormal"><span style="font-family:华文宋体">填写好此表格，交给<b>
                    <%= speaker %>
                </b>（邮箱/联系方式）</span></p>
        <p class="MsoNormal"><span style="font-family:华文宋体">并准备好影片放映资源，通过云盘交由相关负责人检查</span></p>
        <p class="MsoNormal">&nbsp;</p>
        <h1>基本信息</h1>
        <p class="MsoNormal"><span style="font-family:华文宋体">电影周周数：<%= week %></span></p>
        <p class="MsoNormal"><span style="font-family:华文宋体">主讲人姓名：<%= speaker %></span></p>
        <p class="MsoNormal"><span style="font-family:华文宋体">电影周主题：<%= theme %></span></p>
        <p class="MsoNormal"><span style="font-family:华文宋体">一句对主题的阐释：<%= themeDesc %></span></p>
        <p class="MsoNormal">&nbsp;</p>
        <h1>电影周放映安排</h1>
        <p class="MsoNormal"><span style="font-family:华文宋体">
                <%= schedule %>
            </span></p>
        <p class="MsoNormal">&nbsp;</p>
        <% if (movies && movies.length) { movies.forEach(function(movie, idx) { %>
            <h1>影片<%= idx+1 %>信息</h1>
            <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0
                style='margin-left:-.25pt;border-collapse:collapse;border:none'>
                <tr style='height:21.25pt'>
                    <td width=114 style='width:85.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span
                                style='font-family:华文宋体'>中文名</span></p>
                    </td>
                    <td width=446 style='width:334.6pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span style='font-family:华文宋体'>
                                <%= movie.chinese %>
                            </span></p>
                    </td>
                </tr>
                <tr style='height:21.25pt'>
                    <td width=114 style='width:85.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span
                                style='font-family:华文宋体'>外文名</span></p>
                    </td>
                    <td width=446 style='width:334.6pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span lang=EN-US
                                style='font-family:华文宋体'>
                                <%= movie.foreign %>
                            </span></p>
                    </td>
                </tr>
                <tr style='height:21.25pt'>
                    <td width=114 style='width:85.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span style='font-family:华文宋体'>年份</span>
                        </p>
                    </td>
                    <td width=446 style='width:334.6pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span lang=EN-US
                                style='font-family:华文宋体'>
                                <%= movie.year %>
                            </span></p>
                    </td>
                </tr>
                <tr style='height:21.25pt'>
                    <td width=114 style='width:85.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span style='font-family:华文宋体'>导演</span>
                        </p>
                    </td>
                    <td width=446 style='width:334.6pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span style='font-family:华文宋体'>
                                <%= movie.director %>
                            </span></p>
                    </td>
                </tr>
                <tr style='height:21.25pt'>
                    <td width=114 style='width:85.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span style='font-family:华文宋体'>编剧</span>
                        </p>
                    </td>
                    <td width=446 style='width:334.6pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span style='font-family:华文宋体'>
                                <%= movie.writer %>
                            </span></p>
                    </td>
                </tr>
                <tr style='height:21.25pt'>
                    <td width=114 style='width:85.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span style='font-family:华文宋体'>主演</span>
                        </p>
                    </td>
                    <td width=446 style='width:334.6pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span style='font-family:华文宋体'>
                                <%= movie.actors %>
                            </span></p>
                    </td>
                </tr>
                <tr style='height:21.25pt'>
                    <td width=114 style='width:85.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span style='font-family:华文宋体'>类型</span>
                        </p>
                    </td>
                    <td width=446 style='width:334.6pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span style='font-family:华文宋体'>
                                <%= movie.genre %>
                            </span></p>
                    </td>
                </tr>
                <tr style='height:21.25pt'>
                    <td width=114 style='width:85.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span style='font-family:华文宋体'>制片地区<span
                                    lang=EN-US>/</span>国家</span></p>
                    </td>
                    <td width=446 style='width:334.6pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span style='font-family:华文宋体'>
                                <%= movie.region %>
                            </span></p>
                    </td>
                </tr>
                <tr style='height:21.25pt'>
                    <td width=114 style='width:85.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span style='font-family:华文宋体'>片长</span>
                        </p>
                    </td>
                    <td width=446 style='width:334.6pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span lang=EN-US
                                style='font-family:华文宋体'>
                                <%= movie.length %>
                            </span><span style='font-family:华文宋体'>分钟</span></p>
                    </td>
                </tr>
                <tr style='height:21.25pt'>
                    <td width=114 style='width:85.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span
                                style='font-family:华文宋体'>豆瓣评分</span></p>
                    </td>
                    <td width=446 style='width:334.6pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span lang=EN-US
                                style='font-family:华文宋体'>
                                <%= movie.douban %>
                            </span></p>
                    </td>
                </tr>
                <tr style='height:21.25pt'>
                    <td width=114 style='width:85.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span
                                style='font-family:华文宋体'>剧情简介</span></p>
                    </td>
                    <td width=446 style='width:334.6pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span style='font-family:华文宋体'>
                                <%= movie.desc %>
                            </span></p>
                    </td>
                </tr>
                <tr style='height:21.25pt'>
                    <td width=114 style='width:85.3pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.25pt'>
                        <p class=MsoNormal align=right style='text-align:right'><span
                                style='font-family:华文宋体'>豆瓣短评</span></p>
                    </td>
                    <td width=446 style='width:334.6pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.25pt'>
                        <p class=MsoNormal align=left style='text-align:left;line-height:20.4pt;
  background:white'><span lang=EN-US style='color:black'><a href="https://www.douban.com/people/leeshiuan/"><span
                                        lang=EN-US style='font-size:10.0pt;font-family:宋体;color:#3377AA'><span
                                            lang=EN-US>某人</span></span></a></span><span lang=EN-US style='font-size:10.0pt;font-family:"Helvetica",sans-serif;
  color:#494949'>&nbsp;</span><span style='font-size:10.0pt;font-family:宋体;
  color:#494949'>看过</span><span lang=EN-US style='font-size:10.0pt;font-family:
  "Helvetica",sans-serif;color:#494949'>&nbsp;&nbsp;</span><span lang=EN-US
                                style='font-size:10.0pt;font-family:"Helvetica",sans-serif;color:#AAAAAA'>2025-06-18
                                12:00:00</span></p>
                        <p class=MsoNormal align=left style='text-align:left;background:white'><span
                                style='font-size:10.0pt;font-family:宋体;color:#494949'>
                                <%= movie.short %>
                            </span></p>
                    </td>
                </tr>
            </table>
            <p class="MsoNormal">&nbsp;</p>
            <% }) } %>
    </div>
</body>

</html>